.dark-medium-contrast {
  --md-sys-color-primary: rgb(231 200 112);
  --md-sys-color-surface-tint: rgb(227 196 109);
  --md-sys-color-on-primary: rgb(29 21 0);
  --md-sys-color-primary-container: rgb(169 142 61);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(217 201 165);
  --md-sys-color-on-secondary: rgb(29 21 1);
  --md-sys-color-secondary-container: rgb(157 144 110);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(229 188 250);
  --md-sys-color-on-tertiary: rgb(38 5 57);
  --md-sys-color-tertiary-container: rgb(168 131 188);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(22 19 11);
  --md-sys-color-on-background: rgb(234 225 212);
  --md-sys-color-surface: rgb(22 19 11);
  --md-sys-color-on-surface: rgb(255 250 246);
  --md-sys-color-surface-variant: rgb(76 70 57);
  --md-sys-color-on-surface-variant: rgb(211 202 184);
  --md-sys-color-outline: rgb(170 162 145);
  --md-sys-color-outline-variant: rgb(138 130 115);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(234 225 212);
  --md-sys-color-inverse-on-surface: rgb(45 42 33);
  --md-sys-color-inverse-primary: rgb(89 70 0);
  --md-sys-color-primary-fixed: rgb(255 224 139);
  --md-sys-color-on-primary-fixed: rgb(23 16 0);
  --md-sys-color-primary-fixed-dim: rgb(227 196 109);
  --md-sys-color-on-primary-fixed-variant: rgb(68 52 0);
  --md-sys-color-secondary-fixed: rgb(242 225 187);
  --md-sys-color-on-secondary-fixed: rgb(23 16 0);
  --md-sys-color-secondary-fixed-dim: rgb(213 197 161);
  --md-sys-color-on-secondary-fixed-variant: rgb(63 53 27);
  --md-sys-color-tertiary-fixed: rgb(244 217 255);
  --md-sys-color-on-tertiary-fixed: rgb(32 0 52);
  --md-sys-color-tertiary-fixed-dim: rgb(225 184 245);
  --md-sys-color-on-tertiary-fixed-variant: rgb(72 40 92);
  --md-sys-color-surface-dim: rgb(22 19 11);
  --md-sys-color-surface-bright: rgb(61 57 47);
  --md-sys-color-surface-container-lowest: rgb(17 14 7);
  --md-sys-color-surface-container-low: rgb(31 27 19);
  --md-sys-color-surface-container: rgb(35 31 23);
  --md-sys-color-surface-container-high: rgb(45 42 33);
  --md-sys-color-surface-container-highest: rgb(56 52 43);
}
