<!DOCTYPE html>
<html>
<head>
    <title>Add New Players</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <h1 class="highlight">Add New Players</h1>

    <form method="POST">
        <div class="form-group">
            {% for i in range(1, 9) %}
                <label for="name{{ i }}" class="input-label">Player {{ i }}:</label>
                <input type="text" id="name{{ i }}" name="name{{ i }}" value="Player {{ i }}" required class="input-field">
                <br>
                <br>
            {% endfor %}
        </div>
        <input type="submit" value="Add Players" class="button button-primary">
        
        {% if error %}
            <div class="error validation-message">{{ error }}</div>
            <p>
                <form action="{{ url_for('index') }}" method="GET">
                    <input type="submit" value="Back to Standings" class="button button-secondary">
                </form>
            </p>
        {% else %}
            <p>
                <form action="{{ url_for('index') }}" method="GET">
                    <input type="submit" value="Back to Standings" class="button button-secondary">
                </form>
            </p>
        {% endif %}
    </form>

</body>
</html>
