<!DOCTYPE html>
<html>
  <head>
    <title>Tournament Standings</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <!-- Navbar Section -->
    <nav class="navbar">
      <div class="navbar-logo">
        <img src="static/TournamentOrgaApp_icon.png" alt="Logo" class="icon-button" />
        <!-- Placeholder for an icon -->
      </div>
      <div class="navbar-links">
        <a href="{{ url_for('add_player') }}" class="navbar-link">Players</a>
        <a href="{{ url_for('generic') }}" class="navbar-link">Standings</a>
        <a href="{{ url_for('index') }}" class="navbar-link">Home</a>
      </div>
      <div class="navbar-profile"></div>
    </nav>
    <!-- End of Navbar Section -->

    <div class="grid-container">
        <header class="header">
       
            {% if champion %} {% if champion == "Tie" %}
            <h2>The finals ended in a tie.</h2>
            {% else %}
            <h2>Champion: {{ champion.name }}</h2>
            {% endif %} {% endif %}

            <div>
                <a href="{{ url_for('generic') }}" class="button button-primary"
                  >Go to Generic Web Frontend
                  </a>
              </div>

              <form
              action="{{ url_for('reset_tournament') }}"
              method="POST"
            >
              <input
                type="submit"
                class="button button-tertiary"
                value="Reset Tournament"
                onclick="return confirm('Are you sure you want to reset the tournament? This action cannot be undone.');"
              />
            </form>

        </header>
        <aside class="sidebar">
            Sidebar
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
            <form action="{{ url_for('add_player') }}" method="GET">
                <input type="submit" class="button button-primary" value="Add Player" />
              </form>

            
        </aside>

        <main class="main1">
            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            
            {% if next_round_number %}
            <form action="{{ url_for('start_round') }}" method="GET">
              <input
                type="submit"
                class="button button-primary"
                value="Start Round {{ next_round_number }}"
              />
            </form>
            {% endif %}

            {% if finals_ready and not champion %}
            <form action="{{ url_for('finals') }}" method="GET">
              <input
                type="submit"
                class="button button-primary"
                value="Proceed to Finals"
              />
            </form>
            {% endif %}
        </main>

        <main class="main2">
            <table class="table">
                <tr>
                  <th>Rank</th>
                  <th>Player Name</th>
                  <th>Match Points</th>
                  <th>OMW%</th>
                  <th>GW%</th>
                </tr>
                {% for idx, standing in enumerate(standings) %}
                <tr>
                  <td>{{ idx + 1 }}</td>
                  <td>{{ standing.player.name }}</td>
                  <td>{{ standing.match_points }}</td>
                  <td>
                    {{ (standing.opponents_match_win_percentage * 100) | round(2) }}%
                  </td>
                  <td>{{ (standing.game_win_percentage * 100) | round(2) }}%</td>
                </tr>
                {% endfor %}
              </table>

        </main>

        <footer class="footer">
            Footer
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        </footer>
      </div>
           

  </body>
</html>
